
/******************************

This is the body style section

******************************/

body {
	background-color: lightblue;
	color: darkblue;
}

/******************************

This is the Heading style section

******************************/


h3 {
	text-align: center;
	color: darkblue;
}

h1 {
	color: darkblue;
	text-align: center;
}

h2 {
	text-align: center;
	color: darkgoldenrod;
}

/******************************

This is the Paragraph style section

******************************/

p {
	color: darkblue;
	text-align: center;
}

/******************************

This is the Image and Video style section

******************************/

.logo {
	align-self: center;
	align-content: center;
	text-align: center;
	border: dashed;
	border: 2px 2px 2px 2px;
	border-color: red;
}


.Video {
	align-self: center;
	align-content: center;
	text-align: center;
}










